<ion-header>
  <ion-toolbar mode="ios" slots="primary">
    <ion-back-button slot="end"></ion-back-button>
    <ion-title>Suscripciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" menuId="custom" contentId="main-home">
  
  <ion-content>
    <ng-container *ngIf="asociar === 'persona'">
      <ion-accordion-group value="responsable">
        <ion-accordion value="responsable">
          <ng-container *ngTemplateOutlet="infoResponsable"></ng-container>
        </ion-accordion>
        
        <ion-accordion  value="subscripciones">
          <ng-container *ngTemplateOutlet="detallesSubscripcion"></ng-container>
        </ion-accordion>
        
      </ion-accordion-group>
    </ng-container>
  </ion-content>
  <ion-footer class="ion-no-margin ion-no-padding">
    <form (ngSubmit)="formPersonas.valid " *ngIf="asociar === 'persona'">
      <ion-button type="submit" [disabled]="formPersonas.valid === false" mode="ios" size="full" color="dark">Guardar Persona</ion-button>
    </form>
    
  </ion-footer>
</ion-menu>

<ion-content id="main-home" class="ion-padding" fullscreen>
  <ion-item lines="none">
    <div>
      
      <ion-button size="small" mode="ios" (click)="openMenuEditor('persona')"><b>Asociar Personas</b></ion-button>
    </div>
    <ion-item lines="none" slot="end">
      <ion-label position="stacked">Filtrar:</ion-label>
      <ion-select interface="popover" value="{{listVisible}}" (ionChange)="cambiarLista($event)">
      
        <ion-select-option [value]="'persona'">Personas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-item>

  <ion-list *ngIf="listVisible === 'persona'">
    <ion-accordion-group>
      <ion-accordion value="{{item.id}}" *ngFor="let item of listPersonas | paginate: { totalItems: listPersonas.length, itemsPerPage: 15,  currentPage: p }">
        <ion-item lines="full" slot="header">
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-md="6" size-xl="6" size-lg="6" size-sm="12">
                <ion-label>
                  <b>{{item.nombre.toLowerCase()}}</b>
                  <p>{{item.correo}}<br>{{item.direccion}}<br>{{item.telefono}}</p>
                </ion-label>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-xl="6" size-lg="6" size-sm="12">
                <ion-buttons class="ion-justify-content-end ion-align-items-end">
                  <ion-button>{{item.subscripcion.plan.titulo}}</ion-button>
                  <ion-button>{{item.created_at | date: 'yyyy-MM-dd'}}</ion-button>
                  <ion-button mode="ios" color="{{item.active ? 'success': 'danger'}}">{{item.active ? 'Activo': 'Inactivo'}}</ion-button>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <div slot="content" class="ion-padding">
          <ion-badge color="dark" class="ion-no-margin ion-margin-top"><b>Subscripción</b></ion-badge>
          <ion-grid>
            <ion-row>
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3"><ion-label>
                <small><b>Fecha de Inicio:</b></small> <br>
                <p>{{item.subscripcion.fechaInicio | date: 'yyyy-MM-dd' }}</p>
              </ion-label></ion-col>
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3"><ion-label>
                <small><b>Fecha de Expiración:</b></small> <br>
                <p>{{item.subscripcion.fechaExpiracion | date: 'yyyy-MM-dd' }}</p>
              </ion-label></ion-col>
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3"><ion-label>
                <small><b>Duración (meses):</b></small> <br>
                <p>{{item.subscripcion.duracion }}</p>
              </ion-label></ion-col>
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3"><ion-label>
                <small><b>Mes gratis:</b></small> <br>
                <p>{{item.subscripcion.mesesSinPago }}</p>
              </ion-label></ion-col>
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3"><ion-label>
                <small><b>Equipos:</b></small> <br>
                <p>{{item.subscripcion.equiposPermitidos }}</p>
              </ion-label></ion-col>
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3"><ion-label>
                <small><b>Costo:</b></small> <br>
                <p>{{item.subscripcion.pago | currency: '': 'MXN $':'1.0-0'}}</p>
              </ion-label></ion-col>
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3"><ion-label>
                <small><b>Programas Incluidos:</b></small> <br>
                <p>{{item.subscripcion.programas.length}}</p>
              </ion-label></ion-col>
            </ion-row>
          </ion-grid>
         <ion-item lines="full" color="white">
           <ion-button (click)="editarSubscripcion(item)" slot="end" size="small" color="dark" mode="ios"><span class="fa-solid fa-pencil ion-margin-end"></span> Editar</ion-button>
         </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <ion-list *ngIf="listVisible === 'empresa'">
    <ion-accordion-group>
      <ion-accordion value="{{item.id}}" *ngFor="let item of listPersonas | paginate: { totalItems: listPersonas.length, itemsPerPage: 15,  currentPage: p }">
        <ion-item slot="header">
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-md="6" size-xl="6" size-lg="6" size-sm="12">
                <ion-label>
                  <b>{{item.razon_social.toLowerCase()}}</b>
                  <p>{{item.correo}}<br>{{item.direccion}}<br>{{item.telefono}}</p>
                </ion-label>
              </ion-col>
              <ion-col  size-xs="12" size-md="6" size-xl="6" size-lg="6" size-sm="12">
                <ion-buttons class="ion-justify-content-end ion-align-items-end">
                  <ion-button>{{item.subscripcion.plan.titulo}}</ion-button>
                  <ion-button>{{item.created_at | date: 'yyyy-MM-dd'}}</ion-button>
                  <ion-button mode="ios" color="{{item.active ? 'success': 'danger'}}">{{item.active ? 'Activo': 'Inactivo'}}</ion-button>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <div slot="content" class="ion-padding">
          <ion-badge color="dark" class="ion-no-margin ion-margin-top"><b>Responsable</b></ion-badge>
          <ion-grid>
            <ion-row>
              <ion-col  size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
                <ion-label>
              <small><b>Nombre completo:</b></small> <br>
              <p> {{item.responsable.nombre.toLowerCase()}}</p>
            </ion-label>
              </ion-col>
              <ion-col  size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
                <ion-label>
              <small><b>Dirección:</b></small> <br>
              <p> {{item.responsable.direccion.toLowerCase()}}</p>
            </ion-label>
              </ion-col>
              <ion-col  size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
                <ion-label>
              <small><b>Correo:</b></small> <br>
              <p> {{item.responsable.correo.toLowerCase()}}</p>
            </ion-label>
              </ion-col >
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
                <ion-label>
              <small><b>Telefono:</b></small> <br>
              <p> {{item.responsable.telefono.toLowerCase()}}</p>
            </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-badge color="dark" class="ion-no-margin ion-margin-top"><b>Subscripción</b></ion-badge>
          <ion-grid>
            <ion-row>
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
                <ion-label>
              <small><b>Fecha de Inicio:</b></small> <br>
              <p>{{item.subscripcion.fechaInicio | date: 'yyyy-MM-dd' }}</p>
            </ion-label>
              </ion-col>
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
                <ion-label>
              <small><b>Fecha de Expiración:</b></small> <br>
              <p>{{item.subscripcion.fechaExpiracion | date: 'yyyy-MM-dd' }}</p>
            </ion-label>
              </ion-col>
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
                <ion-label>
              <small><b>Duración (meses):</b></small> <br>
              <p>{{item.subscripcion.duracion }}</p>
            </ion-label>
              </ion-col>
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
                <ion-label>
              <small><b>Mes gratis:</b></small> <br>
              <p>{{item.subscripcion.mesesSinPago }}</p>
            </ion-label>
              </ion-col>
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
                <ion-label>
              <small><b>Equipos:</b></small> <br>
              <p>{{item.subscripcion.equiposPermitidos }}</p>
            </ion-label>
              </ion-col>
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
                 <ion-label>
              <small><b>Costo:</b></small> <br>
              <p>{{item.subscripcion.pago | currency: '': 'MXN $':'1.0-0'}}</p>
            </ion-label>
              </ion-col>
              <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3"><ion-label>
                <small><b>Programas Incluidos:</b></small> <br>
                <p>{{item.subscripcion.programas.length}}</p>
              </ion-label></ion-col>
            </ion-row>
          </ion-grid>
          <ion-item lines="full"  color="white">
            <ion-button (click)="editarSubscripcion(item)" slot="end" size="small" color="dark" mode="ios"><span class="fa-solid fa-pencil ion-margin-end"></span> Editar</ion-button>
          </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <div class="ion-padding">
    <paging-controls (pageChange)="p = $event" [isItemsPerPage]="false"></paging-controls>
  </div>
</ion-content>



<ng-template #infoResponsable>
  <ion-item slot="header" lines="full">
    <span slot="start" [ngClass]="{'fa-2':asociar === 'empresa','fa-1': asociar === 'persona'}" class="fa-solid "></span>
    <ion-label><b>{{asociar === 'empresa' ? 'Responsable' : 'Persona'}}</b><p>
      Ingrese la información {{asociar === 'empresa' ? 'del responsable de la empresa' : 'de la persona'}}
    </p></ion-label>
  </ion-item>
  <div slot="content" [formGroup]=" asociar === 'empresa' ? formPersonas: formPersonas">
    <div *ngIf="asociar === 'empresa'" formGroupName="responsable">
      <ion-item lines="none">
        <ion-label position="stacked"><b>Nombre {{asociar === 'empresa' ? 'del responsable' : 'de la Persona'}}:</b></ion-label>
        <ion-input type="text" formControlName="nombre" placeholder="Nombre completo"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked"><b>Dirección:</b></ion-label>
        <ion-input type="text" formControlName="direccion" placeholder="Dirección"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked"><b>Correo:</b></ion-label>
        <ion-input type="email" formControlName="correo" placeholder="Correo"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked"><b>Tel:</b></ion-label>
        <ion-input type="tel" formControlName="telefono" placeholder="Telefono"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="asociar === 'persona'">
      <ion-item lines="none">
        <ion-label position="stacked"><b>Nombre {{asociar.includes('empresa') ? 'del responsable' : 'de la Persona'}}:</b></ion-label>
        <ion-input type="text" formControlName="nombre" placeholder="Nombre completo"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked"><b>Dirección:</b></ion-label>
        <ion-input type="text" formControlName="direccion" placeholder="Dirección"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked"><b>Correo:</b></ion-label>
        <ion-input type="email" formControlName="correo" placeholder="Correo"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked"><b>Tel:</b></ion-label>
        <ion-input type="tel" formControlName="telefono" placeholder="Telefono"></ion-input>
      </ion-item>
    </div>
  </div>
</ng-template>



<ng-template #detallesSubscripcion>
  <ion-item slot="header" lines="full">
    <span slot="start" [ngClass]="{'fa-4':asociar === 'empresa','fa-3': asociar === 'persona'}" class="fa-solid "></span>
    <ion-label><b>Subscripción</b>
      <p>Detalles de la subscripción</p>
    </ion-label>
  </ion-item>
  <div slot="content" [formGroup]="asociar === 'persona' ? formPersonas: formPersonas">
    <div formGroupName="subscripcion">
      <ion-item lines="none">
        <ion-label position="stacked"><b>Fecha de Inicio:</b></ion-label>
        <ion-input type="date" formControlName="fechaInicio" min="{{today | date: 'yyyy-MM-dd'}}" [value]="(asociar === 'persona' ? formPersonas.get('subscripcion').get('fechaInicio').value  : formPersonas.get('subscripcion').get('fechaInicio').value) | date: 'yyyy-MM-dd'" placeholder="Ajusta la fecha"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked"><b>Duración en meses:</b></ion-label>
        <ion-input type="number" formControlName="duracion" placeholder="1, 2  .. 3 meses"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked"><b>Meses gratis:</b></ion-label>
        <ion-input type="number" formControlName="mesesSinPago" placeholder="Meses que no pagara el socio"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked"><b>Equipos permitidos:</b></ion-label>
        <ion-input type="number" formControlName="equiposPermitidos" placeholder="Ajusta los equipos de la subscripcion"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked"><b>Costo de la subscripción:</b></ion-label>
        <ion-input type="number" formControlName="pago" placeholder="La cantidad que debe pagar el socio"></ion-input>
      </ion-item>
    </div>
  </div>
</ng-template>



<ng-template #NoProgramas>
  <h3>No hay programas creados</h3>
</ng-template>
