<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" slots="primary">
    
    <ion-back-button slot="end"></ion-back-button>
   
    <ion-title>Pagos & Planes</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content fullscreen>
  <div id="planes-show">
    <div class="plans" >
      <ion-card button (click)="openNuevoPlan()" mode="ios">
        <ion-card-header>
          <ion-card-title>Crear nuevo plan</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>Haz clic aquí para crear un nuevo plan.</ion-label>
        </ion-card-content>
      </ion-card>
      
    </div>
    <div class="plans" *ngFor="let item of listPlanes">
     
       
        <ion-card mode="ios">
          
            <ion-card-header class="ion-text-center">
              <ion-card-subtitle class="ion-text-center">{{item.nombre}}</ion-card-subtitle>
              <ion-card-title *ngIf="item.precio > 0" [ngClass]="{'promo': item.precioOld > 0}"><small>{{ item.precioOld | currency : 'MXN': 'MXN $': '1.0-0'}}</small></ion-card-title>
              <ion-card-title><small>{{(item.precio > 0 ? item.precio : item.precioOld) | currency : 'MXN': 'MXN $': '1.0-0'}}</small></ion-card-title>
              <small>Pago {{item.duracion === 1 ? 'Mensual' : item.duracion === 6 ?  'Semestral': 'Anual'}}</small>
            </ion-card-header>
        
          
          <ion-card-content>
           <ion-buttons class="ion-justify-content-center">
             <ion-button (click)="openEditar(item)" slot="start" size="small"><span class="fa-solid fa-pencil ion-margin-end"></span> Editar</ion-button>
             <ion-button color="{{item.active ? 'success': 'danger'}}" slot="end" size="small">{{item.active ? 'On': 'Off'}} <span class="ion-margin-start fa-solid fa-wifi"></span></ion-button>
           </ion-buttons>
            <ion-buttons class="ion-justify-content-center">
              <ion-button (click)="listSubs = item.suscripciones" color="primary">Subscripciones <span class="fa-solid ion-margin-start fa-chevron-down"></span></ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
    
      
    </div>
  </div>
  <ion-item lines="none" color="white" class="ion-text-center">
    <ion-label>
      Lista de subscripciones
      <p><span class="fa-solid fa-chevron-down"></span></p>
    </ion-label>
  </ion-item>
  <ion-list *ngIf="listSubs.length > 0 else NoData">
    <ng-container *ngFor="let item of listSubs | paginate: {currentPage: p}">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
              <ion-label>
                <small><b>Fecha de Inicio:</b></small> <br>
                <p>{{item.fechaInicio | date: 'yyyy-MM-dd' }}</p>
              </ion-label>
            </ion-col>
            <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
              <ion-label>
                <small><b>Fecha de Expiración:</b></small> <br>
                <p>{{item.fechaExpiracion | date: 'yyyy-MM-dd' }}</p>
              </ion-label>
            </ion-col>
            <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
              <ion-label>
                <small><b>Duración (meses):</b></small> <br>
                <p>{{item.duracion }}</p>
              </ion-label>
            </ion-col>
            <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
              <ion-label>
                <small><b>Mes gratis:</b></small> <br>
                <p>{{item.mesesSinPago }}</p>
              </ion-label>
            </ion-col>
            <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
              <ion-label>
                <small><b>Plan:</b></small> <br>
                <p>{{item.id }}</p>
              </ion-label>
            </ion-col>
            <ion-col size-xs="6" size-sm="3" size-lg="2" size-xl="2" size-md="3">
              <ion-label>
                <small><b>precio:</b></small> <br>
                <p>{{item.pago | currency: '': 'MXN $':'1.0-0'}}</p>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ng-container>
  </ion-list>
  <div class="ion-padding">
    <paging-controls *ngIf="listSubs.length > 0" (pageChange)="p = $event" [isItemsPerPage]="false"></paging-controls>
  </div>
</ion-content>

<ng-template #NoData>
  <br>
  <h3 class="ion-text-center ion-margin">No hay subscripciones creadas <br>
    <span class="fa-solid fa-face-sad-tear"></span>
  </h3>
</ng-template>
