<ion-content>
  <main class="mainBody">
    <form [formGroup]="formCreateAccount" (ngSubmit)="onCreate()">

      <label style="color: black;" for="userName">User name</label>
      <input type="text" id="userName"  formControlName="userName" required>
      <div *ngIf=" form.userName.invalid && (form.userName.dirty || form.userName.touched)">
        <small>you must enter an user name</small>
      </div>

      <label style="color: black;" for="email">Email</label>
      <input type="email" id="email" formControlName="email" required>
      <div *ngIf="form.email.invalid && (form.email.dirty || form.email.touched)">
        <small *ngIf="form.email.errors.required">
          you must enter an email address
        </small>
        <small *ngIf="form.email.errors.email">
          please enter a valid email addres
        </small>
      </div>

      <label style="color: black;" for="password" >Password</label>
      <input type="password" id="password" formControlName="password" required>
      <div *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)">
        <small *ngIf="form.password.errors.required">
          Password is mandotory
        </small>
        <small *ngIf="form.password.errors.minlength">
          The minimum length for a password is 8 characters
        </small>
      </div>

      <label style="color: black;" for="passwordConfirm">Confirm Password</label>
      <input type="password" id="passwordConfirm" formControlName="passwordConfirm" required>

      <div>
        <small *ngIf="!validateEqualsPass()">
          Password mismatch
        </small>
      </div>

      <ion-item id="checkbox-container" lines="none">
        <ion-checkbox formControlName="terms"></ion-checkbox>
        <ion-label style="color:#e76d3e;" class="ion-margin">Acept <a href="" style="color:#e76d3e;" >terms and conditions</a></ion-label>
      </ion-item>

      <button class="darkP botonSubmit" >next</button>

      <div id="create-account-container">
        <label style="color: black;" >do you have an account? <a routerLink="/login" style="color:#e76d3e;">Login</a></label>
      </div>

    </form>
  </main>
</ion-content>
