/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ion-content .mainBody{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
    }
form{
    width: 100%;
}
button{
    width: 50%;
    margin: 0px 25%;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    background-color: #222;
    font-size: 12pt;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    ion-content .mainBody{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
       }
   form{
       width: 100%;
   }
   button{
       width: 70%;
       margin: 0px 15%;
       border-radius: 50px;
       padding: 10px 20px;
       color: white;
       background-color: #222;
       font-size: 12pt;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ion-content .mainBody{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
       }
   form{
       width: 50%;
       margin: 0px 25%;
   }
   button{
       width: 70%;
       margin: 0px 15%;
       border-radius: 50px;
       padding: 10px 20px;
       color: white;
       background-color: #222;
       font-size: 12pt;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ion-content .mainBody{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
       }
   form{
       width: 50%;
       margin: 0px 25%;
   }
   button{
       width: 70%;
       margin: 0px 15%;
       border-radius: 50px;
       padding: 10px 20px;
       color: white;
       background-color: #222;
       font-size: 12pt;
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

#create-account-container{
    margin-top: 15px;
    width: 100%;
    text-align: center;
}