<ion-header>
  <ion-toolbar mode="ios">
    <ion-back-button slot="end"></ion-back-button>
    <ion-title>smae</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="scrolling-wrapper" [scrollEvents]="true" scroll-x >
  

  <div >
    <ion-item >
      <ion-label>categorias</ion-label>
      
        <ion-select (ionChange)="Change($event)" placeholder="Seleciona una opción"  interface="action-sheet">
          <ng-container *ngFor="let categoria of listCategorias">
            <ion-select-option  [value]="categoria.id" > {{categoria.nombre}}</ion-select-option>
            
          </ng-container>
        </ion-select>
        
     
    </ion-item>
  </div>
  
  <div *ngIf="isExcelFile === false">
    This is not an Excel file
  </div>

  
      <span *ngIf="spinnerEnabled" class="k-i-loading k-icon"></span>
      <table  class="fl-table">
        <th *ngFor="let key of newKey">
          {{key}}
        </th>
        <tr *ngFor="let item of dataSheet | async">
          <td *ngFor="let key of keys">
            {{item[key]}}
          </td>
        </tr> 
      </table>

</ion-content>
