:host {
    display: flex;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 1rem;
    padding: 2rem;
  }

  .wide {
    grid-column: 1 / -1;
  }

  .ion-no-margin-top{

    margin-top:0 ;
  }
#cardPaciente{
  background-color: #3dc2ff;
  
}
#cardPaciente ion-card-subtitle {
  --color: black;
}
#cardNutriologo{
  background-color: #ffc409;
}
#cardNutriologo ion-card-subtitle {
  --color: black;
}
#cardSuscrip{
  background-color: orange;
}
#cardSuscrip ion-card-subtitle {
  --color: black;
}
#cardDinero{
  background-color: #2dd36f;
}
#cardDinero ion-card-subtitle {
  --color: black;
}

  