<ion-header mode="ios"  class="ion-no-border">
  <ion-toolbar  color="white" mode="ios">
    <ion-button slot="start" routerLink="/pago-planes" color="dark">
      <span class="fa-solid fa-arrow-left"></span>
    </ion-button>
   <div slot="start">
     <h1 class="ion-no-padding ion-no-margin ion-margin-start"><b>{{formPlan.controls['id'].value !== null ? 'Editar Plan' : 'Nuevo plan'}}</b></h1>
   </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
<ion-grid>
  <ion-row>
    <ion-col size="8">
      <form [formGroup]="formPlan">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <ion-item lines="none" color="white">
                <ion-label position="stacked"><b>nombre:</b></ion-label>
                <ion-input formControlName="nombre" placeholder="Escribe aquí el nombre para el plan que deseas crear"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="none" color="white">
                <ion-label position="stacked"><b>Duración del plan:</b></ion-label>
                <ion-select interface="popover" formControlName="duracion">
                  <ion-select-option [value]="1">Mensual (Se renueva cada mes)</ion-select-option>
                  <ion-select-option [value]="6">Semestral (Se renueva cada 6 meses)</ion-select-option>
                  <ion-select-option [value]="12">Anual (Se renueva cada 12 meses)</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-item lines="none" color="white">
                <ion-label position="stacked"><b>Activo:</b> {{getForm('active') ? 'Sí' : 'No'}}</ion-label>
                <ion-toggle color="success" formControlName="active"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item lines="none" color="white">
          <ion-label position="stacked"><b>Descripción:</b></ion-label>
          <ion-textarea formControlName="descripcion" rows="7" placeholder="Escribe una breve descripción para este plan"></ion-textarea>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-item lines="none" color="white">
                <ion-label position="stacked"><b>precio:</b></ion-label>
                <ion-input formControlName="precioOld" type="number" min="0" placeholder="precio del plan"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-item lines="none" color="white">
                <ion-label position="stacked"><b>precio Promocional:</b></ion-label>
                <ion-input formControlName="precio" type="number" min="0"  placeholder="precio promocional"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-item lines="none" color="white">
                <ion-label position="stacked"><b>Meses sin pago:</b></ion-label>
                <ion-input formControlName="mesesSinPago" type="number" min="0"  placeholder="Meses Gratuitos"></ion-input>
              </ion-item>
            </ion-col>
            
          </ion-row>
        </ion-grid>
        <ion-item lines="full" color="white">
          <ion-label><b>Beneficios</b><p>Agrega beneficios a este plan</p></ion-label>
          <ion-button (click)="openGuardarServicio(modalGuardaBeneficio)" color="dark"><span class="fa-solid fa-plus"></span></ion-button>
        </ion-item>
        <ion-list *ngIf="listaServicios.length > 0 else NoData" lines="none" color="white">
          <ion-item *ngFor="let item of listaServicios" color="white">
            <ion-label>
              <b>{{item.nombre}}</b>
              <p>{{item.descripcion}}</p>
            </ion-label>
            <ion-toggle [checked]="verifyCheck(item.id)" (ionChange)="addBeneficio(item, $event)" mode="md"></ion-toggle>
          </ion-item>
        </ion-list>
      </form>
    </ion-col>
    <ion-col>
      <p class="ion-text-center"><small style="font-size: 15px">Estas a punto de crear un nuevo plan una vez termines puedes regresar y visualizar el plan que haz creado</small></p>
      <ion-card mode="ios">
        <ion-card-header  class="ion-text-center">
          <ion-card-subtitle>{{ this.formPlan.controls['nombre'].value.toString().length > 0 ? this.formPlan.controls['nombre'].value : 'Nombre del plan' }}</ion-card-subtitle>
          <ion-card-title class="{{this.formPlan.controls['precio'].value > 0 ? 'promo':''}}">{{ this.formPlan.controls['precioOld'].value.toString().length >  0 ? ( this.formPlan.controls['precioOld'].value | currency : '': 'MXN $':'1.0-0') : (0 | currency: '':'$': '1.0-0')}}</ion-card-title>
          <ion-card-title *ngIf="this.formPlan.controls['precio'].value > 0" >{{ this.formPlan.controls['precio'].value.toString().length >  0 ? ( this.formPlan.controls['precio'].value | currency : '': 'MXN $':'1.0-0') : (0 | currency: '':'$': '1.0-0')}}</ion-card-title>
          <small>Pago {{ getForm('duracion') === 1 ? 'Mensual' : getForm('duracion') === 6 ? 'Semestral' : 'Anual'}}</small>
        </ion-card-header>
        <ion-card-content>
          <ion-list class="ion-text-center">
            <p *ngIf="this.formPlan.controls['mesesSinPago'].value > 0">{{ this.formPlan.controls['mesesSinPago'].value }} {{this.formPlan.controls['mesesSinPago'].value > 1 ? 'Meses' : 'Mes' }} gratis!!</p>
            
            <h2 class="ion-text-center"><b>Beneficios</b></h2>
            <ng-container *ngIf="serviciosSelected.length > 0 else NoBeneficios">
              <ng-container *ngFor="let item of serviciosSelected">
                <ion-item lines="full" class=" ion-text-center">
                 <ion-label>{{item.nombre}} <span style="color: var(--ion-color-success)" class="fa-solid fa-check"></span></ion-label>
                </ion-item>
              </ng-container>
            </ng-container>
          </ion-list>
          <form (ngSubmit)="formPlan.valid && serviciosSelected.length > 0 && guardarPlan()">
            <ion-button [disabled]="formPlan.valid === false || serviciosSelected.length === 0" size="full" type="submit">{{this.formPlan.controls['id'].value !== null? 'Actualizar Plan' : 'Guardar Plan' }}</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ng-template #NoData>
  <br>
  <h3 class="ion-text-center ion-margin">No hay beneficios creados, crea uno para poder completar el plan <br>
    <span class="fa-solid fa-face-sad-tear"></span>
  </h3>
</ng-template>

<ng-template #NoBeneficios>
  <p>No haz seleccionado ningun beneficio</p>
</ng-template>

<ion-modal mode="ios" #modalGuardaBeneficio>
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar  color="white">
        <ion-card-subtitle class="ion-padding-start" mode="ios">Beneficio</ion-card-subtitle>
        <ion-buttons slot="end">
          <ion-button (click)="modalGuardaBeneficio.dismiss()"><span class="fa-solid fa-close"></span></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content  class="ion-padding">
      <form [formGroup]="formServicio" (ngSubmit)="formServicio.valid && guardarServicio()">
        <ion-item color="transparent" lines="none">
          <ion-label mode="ios" position="floating"><b>nombre</b></ion-label>
          <ion-input placeholder="Añade el nombre..." formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item color="transparent" lines="none">
          <ion-label mode="ios" position="floating"><b>Descripción</b></ion-label>
          <ion-textarea [rows]="7" placeholder="Añade una descripción..." formControlName="descripcion"></ion-textarea>
        </ion-item>

        <ion-button type="submit" color="primary" size="full"><b>{{formServicio.controls['id'].value ===null ? 'Guardar Beneficio':'Actualizar Beneficio'}}</b></ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>