ion-infinite-scroll{
    --background:transparent;
}

ion-list, ion-item{
    --background:transparent;
     background-color: transparent;
 }

 .img-container{
    height: 250px;
    width: 100%;
  }